include *.txt
include *.md
include *.pkl
recursive-include ./titanic_model/*

include titanic_model/datasets/raw.csv
include titanic_model/trained_models/*.pkl
include titanic_model/VERSION
include titanic_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]